@if (name() === "golang"){
  <mat-icon svgIcon="golang"/>
} @else if (name() === "git"){
  <mat-icon svgIcon="git" />
} @else if (name() === "html"){
  <mat-icon svgIcon="html"/>
}@else if (name() === "typescript"){
  <mat-icon svgIcon="javascript" />
}@else if (name() === "react" || name() === "react-native"){
  <mat-icon svgIcon="react" />
}@else if (name() === "node"){
  <mat-icon svgIcon="node" />
}@else if (name() === "docker"){
  <mat-icon svgIcon="docker" />
}@else if (name() === "flutter"){
  <mat-icon svgIcon="flutter" />
}@else if (name() === "figma" || name() === "ux"){
  <mat-icon svgIcon="figma" />
}@else if (name() === "python"){
  <mat-icon svgIcon="python" />
}@else if (name() === "sqlite" || name() === "sqlite3"){
  <mat-icon svgIcon="sqlite" />
}@else if (name() === "mongodb"){
  <mat-icon svgIcon="mongo" />
}@else if (name() === "shell"){
  <mat-icon svgIcon="bash" />
}@else if (name() === "c"){
  <mat-icon svgIcon="c" />
}@else if (name() === "makefile"){
  <mat-icon svgIcon="make" />
}@else if (name() === "ai"){
  <mat-icon svgIcon="ai" />
}
