@if (name() === "golang"){
  <fa-icon [icon]="golang" class="mr-2"/>
} @else if (name() === "git"){
  <fa-icon [icon]="git" class="mr-2"/>
} @else if (name() === "html"){
  <fa-icon [icon]="html5" class="mr-2"/>
}@else if (name() === "javascript"){
  <fa-icon [icon]="js" class="mr-2"/>
}@else if (name() === "react"){
  <fa-icon [icon]="react" class="mr-2"/>
}@else if (name() === "node"){
  <fa-icon [icon]="node" class="mr-2"/>
}@else if (name() === "docker"){
  <fa-icon [icon]="docker" class="mr-2"/>
}

