.jetbrains-mono-normal {
  font-family: 'JetBrains Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.jetbrains-mono-semibold {
  font-family: 'JetBrains Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.icon {
  height: 5px;
  width: 5px;
}
