<li class="mt-6">
  <div
    class="group relative grid gap-4 pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:opacity-100 lg:group-hover/list:opacity-50"
  >
    <div class="z-10 sm:order-2 sm:col-span-6">
      <h3>
        <a
          href="{{project().url}}"
          class="inline-flex items-baseline font-medium text-xl leading-tight text-gray-600 dark:text-green-300 dark:hover:text-green-300/80 jetbrains-mono-normal"
        >
          <span>{{project().name}}</span>
        </a>
      </h3>
      <p
        class="mt-2 text-sm leading-normal text-slate-600 dark:text-gray-300 jetbrains-mono-normal"
      >
        {{project().description}}
      </p>
      <ul class="mt-2 flex flex-wrap">
        @for(ln of project().languages; track $index){
        <li class="mr-1.5 mt-2">
          <div
            class="flex items-center rounded-full bg-[#d5deef] dark:bg-green-400/10 dark:hover:bg-green-400/20 px-3 py-1 text-sm font-medium leading-5 text-gray-500 dark:text-green-300 font-geist-mono"
          >
            <app-icons name="{{ln.toLowerCase()}}" />
            <p class="text-xs jetbrains-mono-normal">{{ln}}</p>
          </div>
        </li>
        }
      </ul>
    </div>
  </div>
</li>
